.grid-container {
  display: grid;
  align-content: center;
  align: left;
  width: inherit;
}

#tables {
  border: solid black 2px;
}
.table {
  width: inherit;
}

.h1 {
  align: center;
  width: 100%;
}
